body {
    background: #F2F2F2;
    background-image: url(/Src/Img/tri_back.svg);
}

.cz-formlogin {
    width: 500px;
    background-color: #F2F2F2;
    padding: 20px;
    border: solid #919191 1px;
    border-radius: 10px;
}

.cz-logologin {
    width: 150px;
}

.cz-ingcolor {
    background-color: #006e7f;
    border-radius: 0.25rem;
}