body {
    padding-bottom: 20px;
    background: #F2F2F2;
    background-image: url(/Src/Img/tri_back.svg);
}


/* Estilos del header o menú */
.cz-navbar {
    background-color: #006E7F !important;
}

.cz-logo {
    height:40px;
}

.cz-iconlogout {

}

/*---------------------------*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*.bs-placeholder {
    height: calc(3.5rem + 2px) !important;
}*/
